body {
    background-color: rgb(54, 54, 54);
    font-size: 32px;
    font-family: 'VT323', monospace;
    white-space: nowrap;
    overflow: hidden;
    color: rgb(45, 253, 208);
}
#header{
    position: absolute;
    top: 10%;
    left: 50%;
    justify-content: center;
    text-align: center;
    transform: translate(-50%, -50%);
}
#container{
    margin-top: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    justify-content: center;
    text-align: center;
    transform: translate(-50%, -50%);
}
#number {
    font-size: 64px;
    margin-bottom: 2rem;
}

#increment{
    height: 30px;
    width: 120px;
    font-size: 20px;
}
#decrement{
    height: 30px;
    width: 120px;
    font-size: 20px;
}